Repository char5742/groovy-lsp-extension: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint

biome-format:
  tags:
  - formatting
  - typescript
  run: npx biome format --write {staged_files}
  skip:
  - merge
  - rebase
  fail_text: 'Biomeフォーマットエラーが検出されました。自動修正を試みています。
  
    '

biome-lint:
  tags:
  - linting
  - typescript
  run: npx biome check --write {staged_files}
  skip:
  - merge
  - rebase
  fail_text: 'Biomeリントエラーが検出されました。自動修正を試みています。
  
    '

feat(lsp): implement LSP initialization handshake
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  lsp-core/src/test/java/com/groovylsp/integration/LanguageServerIntegrationTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyLanguageServerTest.java
Due: none

refactor(lsp): apply Varifier error-prone check for var usage
  lsp-core/gradle/error-prone.gradle
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  lsp-core/src/test/java/com/groovylsp/integration/JsonRpcCommunicationTest.java
  lsp-core/src/test/java/com/groovylsp/integration/LanguageServerIntegrationTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyLanguageServerTest.java
Due: none

ci(github): add todo-to-issue workflow for automatic issue creation
  .github/workflows/todo-to-issue.yml
Due: none

feat(lsp): enhance text document sync with thread safety and logging improvements
  lsp-core/src/main/java/com/groovylsp/application/usecase/TextDocumentSyncUseCase.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepository.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepositoryTest.java
Due: none

refactor: remove package-info.java files
  lsp-core/src/main/java/com/groovylsp/application/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/package-info.java
  lsp-core/src/main/java/com/package-info.java
Due: none

feat(lsp): implement text document synchronization
  lsp-core/src/main/java/com/groovylsp/application/package-info.java
  lsp-core/src/main/java/com/groovylsp/application/usecase/TextDocumentSyncUseCase.java
  lsp-core/src/main/java/com/groovylsp/domain/model/TextDocument.java
  lsp-core/src/main/java/com/groovylsp/domain/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/repository/TextDocumentRepository.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepository.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/TextDocumentSyncUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/domain/model/TextDocumentTest.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepositoryTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyTextDocumentServiceTest.java
Due: none

chore: 不要なサンプルファイルを削除
  vscode-extension/src/test/fixtures/test-metadata.example.ts
Due: biome-format, biome-lint

feat(vscode): add comprehensive test infrastructure for text document sync
  lefthook.yml
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  vscode-extension/.gitignore
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/test/README.md
  vscode-extension/src/test/fixtures/README.md
  vscode-extension/src/test/fixtures/example.groovy
  vscode-extension/src/test/integration/README.md
  vscode-extension/src/test/integration/document-sync.test.ts
  vscode-extension/src/test/integration/lsp-connection.test.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/suite/README.md
  vscode-extension/src/test/suite/extension.test.ts
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

fix(config): fix commit-msg hook placeholder syntax
  lefthook.yml
Due: none

feat(vscode): add comprehensive test infrastructure for text document sync
  vscode-extension/.gitignore
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/src/test/README.md
Due: biome-format

chore(test): update auto-generated test scenarios
  vscode-extension/src/test/SCENARIOS.md
Due: none

docs(test): テストメタデータの記述例を追加
  vscode-extension/src/test/fixtures/test-metadata.example.ts
Due: biome-format, biome-lint

refactor(test): テストシナリオの自動生成システムを実装
  lefthook.yml
  vscode-extension/package.json
  vscode-extension/scripts/README.md
  vscode-extension/scripts/generate-test-scenarios.ts
  vscode-extension/src/test/SCENARIOS.md
  vscode-extension/src/test/fixtures/README.md
  vscode-extension/src/test/integration/README.md
  vscode-extension/src/test/suite/README.md
Due: biome-format, biome-lint

feat(docs): プロジェクト全体の英語コメントを日本語に翻訳
  lsp-core/src/main/java/com/groovylsp/Main.java
  lsp-core/src/main/java/com/groovylsp/application/usecase/TextDocumentSyncUseCase.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerComponent.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepository.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyWorkspaceService.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/repository/InMemoryTextDocumentRepositoryTest.java
  lsp-core/src/test/java/com/groovylsp/testing/FastTest.java
  lsp-core/src/test/java/com/groovylsp/testing/IntegrationTest.java
  lsp-core/src/test/java/com/groovylsp/testing/SlowTest.java
  vscode-extension/src/extension.ts
  vscode-extension/src/test/SCENARIOS.md
  vscode-extension/src/test/integration/document-sync.test.ts
  vscode-extension/src/test/integration/lsp-connection.test.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

docs: lsp-core配下のREADMEファイルを日本語化
  lsp-core/README.md
  lsp-core/config/README.md
Due: none

fix(vscode): remove timestamp from SCENARIOS.md generation
  vscode-extension/scripts/generate-test-scenarios.ts
  vscode-extension/src/test/SCENARIOS.md
Due: biome-format, biome-lint

fix: correct lefthook commit-msg hook parameter syntax
  lefthook.yml
Due: none

feat: add automatic test scenario generation to pre-commit hook
  lefthook.yml
  vscode-extension/package.json
Due: biome-format

fix: resolve typescript-tests hanging issue with xvfb-run
  lefthook.yml
  vscode-extension/src/test/runTest.ts
Due: biome-format, biome-lint

test: skip document sync test until LSP server JAR is available
  vscode-extension/src/test/integration/document-sync.test.ts
Due: biome-format, biome-lint

ci: pre-pushフックの失敗メッセージに根本原因への対応を促す文言を追加
  lefthook.yml
Due: none

fix: correct document sync test to properly handle LSP notifications
  lefthook.yml
  vscode-extension/src/test/integration/document-sync.test.ts
Due: biome-format, biome-lint

fix: separate unit tests from integration tests for pre-push hook
  lefthook.yml
  vscode-extension/package.json
  vscode-extension/src/test/unit/example.test.ts
Due: biome-format, biome-lint

ci: TypeScriptテストの実行コマンドを修正
  lefthook.yml
Due: none

feat(vscode-extension): VSCode拡張機能をBunベースの統合テストに移行
  CLAUDE.md
  docs/ci-cd-configuration.md
  docs/development-guide.md
  lefthook.yml
  vscode-extension/.gitignore
  vscode-extension/README.md
  vscode-extension/bun.lock
  vscode-extension/package.json
  vscode-extension/scripts/README.md
  vscode-extension/scripts/run-integration.ts
  vscode-extension/src/test/README.md
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/hover.spec.ts
  vscode-extension/src/test/integration/index.ts
  vscode-extension/src/test/test-utils/lsp.ts
  vscode-extension/src/test/unit/example.test.ts
Due: biome-format, biome-lint

fix: VSCode拡張機能のテストコマンドを修正
  lefthook.yml
Due: none

fix: テストエラーメッセージを更新
  lefthook.yml
Due: none

fix: テストコマンドを統一化 - bun run testで統合テストを実行
  CLAUDE.md
  lefthook.yml
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/test/README.md
Due: biome-format

fix: カバレッジコマンドも統合テストを使用するように修正
  vscode-extension/package.json
Due: biome-format

revert: npmベースの統合テスト環境に戻す
  CLAUDE.md
  docs/ci-cd-configuration.md
  docs/development-guide.md
  lefthook.yml
  vscode-extension/.gitignore
  vscode-extension/README.md
  vscode-extension/bun.lock
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/scripts/README.md
  vscode-extension/scripts/run-integration.ts
  vscode-extension/src/test/README.md
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/document-sync.test.ts
  vscode-extension/src/test/integration/hover.spec.ts
  vscode-extension/src/test/integration/index.ts
  vscode-extension/src/test/integration/lsp-connection.test.ts
  vscode-extension/src/test/suite/extension.test.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/unit/example.test.ts
  vscode-extension/tsconfig.json
Due: biome-format, biome-lint

feat(lsp-core): implement basic diagnostic functionality with fixed message
  lsp-core/src/main/java/com/groovylsp/application/package-info.java
  lsp-core/src/main/java/com/groovylsp/application/usecase/DiagnosticUseCase.java
  lsp-core/src/main/java/com/groovylsp/application/usecase/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/model/DiagnosticItem.java
  lsp-core/src/main/java/com/groovylsp/domain/model/DiagnosticResult.java
  lsp-core/src/main/java/com/groovylsp/domain/model/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/package-info.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyTextDocumentServiceTest.java
Due: none

fix: VSCode統合テストのハング問題を解決
  lefthook.yml
  vscode-extension/package.json
  vscode-extension/src/test/runTest.ts
Due: biome-format, biome-lint

fix: VSCode統合テストのプロセス終了問題を根本的に解決
  lefthook.yml
  vscode-extension/package.json
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

fix: VSCode統合テストのタイムアウト処理を追加
  vscode-extension/src/test/runTest.ts
Due: biome-format, biome-lint

fix: VSCode拡張機能のテスト設定を改善
  lefthook.yml
  vscode-extension/.mocharc.json
Due: biome-format

ci: TypeScriptテストを追加し、プッシュ前に失敗を検出するように設定
  lefthook.yml
Due: none

refactor: 不要なpackage-info.javaファイルを削除
  lsp-core/src/main/java/com/groovylsp/application/package-info.java
  lsp-core/src/main/java/com/groovylsp/application/usecase/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/model/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/package-info.java
Due: none

feat: 診断機能の統合テストとコード改善を実装
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/index.ts
  vscode-extension/src/test/runDiagnosticsTest.ts
  vscode-extension/src/test/runIntegrationTest.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/singleTest/index.ts
  vscode-extension/src/types.ts
Due: biome-format, biome-lint

feat: Groovyファイル判定機能を実装
  lsp-core/src/main/java/com/groovylsp/domain/model/GroovyLspConfig.java
  lsp-core/src/main/java/com/groovylsp/domain/repository/ConfigRepository.java
  lsp-core/src/main/java/com/groovylsp/domain/repository/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/util/FileTypeUtil.java
  lsp-core/src/main/java/com/groovylsp/domain/util/package-info.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/domain/util/FileTypeUtilTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyTextDocumentServiceTest.java
  vscode-extension/src/test/groovy-file-detection.test.ts
  vscode-extension/test-fixtures/Test.groovy
  vscode-extension/test-fixtures/Test.java
  vscode-extension/test-fixtures/build.gradle
  vscode-extension/test-fixtures/settings.gradle.kts
Due: biome-format, biome-lint

docs: package-info.javaに関する記述を修正
  CLAUDE.md
  docs/adr/0004-adopt-jspecify-for-nullability.md
Due: none

Path conditions:
  biome-format: any of: *.{js,ts,jsx,tsx,json} and ^vscode\-extension/
  biome-lint: any of: *.{js,ts,jsx,tsx} and ^vscode\-extension/
