Repository char5742/groovy-lsp-extension: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, generate-scenarios

biome-format:
  tags:
  - formatting
  - typescript
  run: npx biome format --write {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase
  fail_text: 'Biomeフォーマットエラーが検出されました。自動修正を試みています。
  
    '

biome-lint:
  tags:
  - linting
  - typescript
  run: npx biome check --write {staged_files}
  stage_fixed: true
  skip:
  - merge
  - rebase
  fail_text: 'Biomeリントエラーが検出されました。自動修正を試みています。
  
    '

generate-scenarios:
  tags:
  - test
  - typescript
  run: npm run test:scenarios
  stage_fixed: true
  skip:
  - merge
  - rebase
  fail_text: 'テストシナリオの生成に失敗しました。
  
    '

feat: 行カウント機能の実装 (#7)
  lsp-core/src/main/java/com/groovylsp/application/usecase/DiagnosticUseCase.java
  lsp-core/src/main/java/com/groovylsp/domain/model/LineCountResult.java
  lsp-core/src/main/java/com/groovylsp/domain/service/LineCountService.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/DiagnosticUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/domain/model/LineCountResultTest.java
  lsp-core/src/test/java/com/groovylsp/domain/service/LineCountServiceTest.java
  lsp-core/src/test/java/com/groovylsp/integration/LineCountIntegrationTest.java
Due: none

docs: CLAUDE.mdを最新のプロジェクト状態に更新
  CLAUDE.md
Due: none

style: Spotlessフォーマットを適用
  lsp-core/src/main/java/com/groovylsp/domain/service/LineCountService.java
  lsp-core/src/test/java/com/groovylsp/domain/service/LineCountServiceTest.java
Due: none

fix: VSCode拡張機能のトレース設定を修正
  vscode-extension/src/extension.ts
Due: biome-format, biome-lint

chore: gitignoreを更新してテストフィクスチャのビルドファイルを除外
  vscode-extension/.gitignore
  vscode-extension/package.json
  vscode-extension/src/test/groovy-file-detection.test.ts
Due: biome-format, biome-lint

fix: VSCode拡張機能のトレース設定エラーを修正
  CLAUDE.md
Due: none

fix: Biome設定を修正
  lefthook.yml
  vscode-extension/biome.json
Due: biome-format

fix: VSCode拡張機能のBiome警告をすべて解消
  vscode-extension/biome.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/groovy-file-detection.test.ts
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/document-sync.test.ts
  vscode-extension/src/test/integration/hover.spec.ts
  vscode-extension/src/test/integration/index.ts
  vscode-extension/src/test/integration/lsp-connection.test.ts
  vscode-extension/src/test/runDiagnosticsTest.ts
  vscode-extension/src/test/runIntegrationTest.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/singleTest/index.ts
  vscode-extension/src/test/suite/extension.test.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/test-utils/lsp.ts
  vscode-extension/src/test/unit/example.test.ts
Due: biome-format, biome-lint

fix: scriptsディレクトリのBiome警告を解消
  vscode-extension/scripts/generate-test-scenarios.ts
Due: biome-format, biome-lint

fix: TypeScriptインポートパスから.ts拡張子を削除し、型チェックをLefthookに追加
  lefthook.yml
  vscode-extension/package-lock.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/hover.spec.ts
  vscode-extension/src/test/runDiagnosticsTest.ts
  vscode-extension/src/test/runIntegrationTest.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/tsconfig.json
Due: biome-format, biome-lint

fix: JDWPデバッグ出力がLSPプロトコルを破壊する問題を修正
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/lsp-debug-mode.test.ts
Due: biome-format, biome-lint

feat: 基本的な字句解析機能を実装 (#8)
  lsp-core/src/main/java/com/groovylsp/domain/lexer/Token.java
  lsp-core/src/main/java/com/groovylsp/domain/lexer/TokenType.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/lexer/GroovyLexer.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/lexer/GroovyLexerTest.java
Due: none

test: VSCode拡張機能側の字句解析統合テストを実装
  vscode-extension/src/test/integration/lexical-analysis.test.ts
Due: biome-format, biome-lint

refactor: 字句解析器のエラーハンドリングとパフォーマンスを改善
  lsp-core/src/main/java/com/groovylsp/domain/lexer/TokenType.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/lexer/GroovyLexer.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/lexer/GroovyStringLexer.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/lexer/GroovyLexerErrorTest.java
Due: none

fix: 文字列リテラルのエスケープシーケンス処理とskipWhitespaceの一貫性を修正
  lsp-core/src/main/java/com/groovylsp/infrastructure/lexer/GroovyLexer.java
Due: none

feat: 括弧の対応チェック機能を実装 (#9)
  lsp-core/src/main/java/com/groovylsp/application/usecase/DiagnosticUseCase.java
  lsp-core/src/main/java/com/groovylsp/domain/service/BracketValidationService.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/DiagnosticUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/domain/service/BracketValidationServiceTest.java
  lsp-core/src/test/java/com/groovylsp/integration/BracketValidationIntegrationTest.java
Due: none

test: 括弧の対応チェック機能の統合テストを追加 (#9)
  vscode-extension/package.json
  vscode-extension/src/test/SCENARIOS.md
  vscode-extension/src/test/integration/bracket-matching.spec.ts
  vscode-extension/src/test/integration/groovy-file-detection.test.ts
  vscode-extension/src/test/integration/index.ts
  vscode-extension/src/test/runDiagnosticsTest.ts
  vscode-extension/src/test/runIntegrationTest.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/singleTest/index.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/unit/extension.test.ts
Due: biome-format, biome-lint

test: テスト環境でのuntitled document問題を修正
  lsp-core/src/test/java/com/groovylsp/integration/DiagnosticIntegrationTest.java
  vscode-extension/README.md
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/bracket-matching.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/groovy-file-detection.test.ts
  vscode-extension/src/test/integration/hover.spec.ts
  vscode-extension/src/test/integration/lexical-analysis.test.ts
  vscode-extension/src/test/integration/lsp-connection.test.ts
  vscode-extension/src/test/integration/lsp-debug-mode.test.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/test-utils/lsp.ts
Due: biome-format, biome-lint

test: テスト環境でのuntitled document問題を修正
  vscode-extension/src/test/integration/bracket-matching.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/test-utils/lsp.ts
Due: biome-format, biome-lint

fix: biome-ignoreコメントを完全に削除し、コード品質を向上
  CLAUDE.md
  vscode-extension/package.json
  vscode-extension/scripts/generate-test-scenarios.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/bracket-matching.spec.ts
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/document-sync.test.ts
  vscode-extension/src/test/integration/groovy-file-detection.test.ts
  vscode-extension/src/test/runTestBase.ts
  vscode-extension/src/test/suite/extension.test.ts
  vscode-extension/src/test/suite/index.ts
  vscode-extension/src/test/test-utils/lsp.ts
  vscode-extension/src/test/unit/example.test.ts
  vscode-extension/src/test/unit/extension.test.ts
Due: biome-format, biome-lint

fix: .ts拡張子をインポートから削除し、tsconfig.jsonの設定を調整
  CLAUDE.md
  lefthook.yml
  vscode-extension/package.json
  vscode-extension/src/extension.ts
  vscode-extension/src/test/integration/bracket-matching.spec.ts
  vscode-extension/src/test/integration/command.spec.ts
  vscode-extension/src/test/integration/diagnostics.spec.ts
  vscode-extension/src/test/integration/groovy-file-detection.test.ts
  vscode-extension/src/test/runTest.ts
  vscode-extension/tsconfig.json
Due: biome-format, biome-lint

feat: Groovyパーサーの調査・選定・実装 (#10)
  docs/parser-investigation.md
  lsp-core/build.gradle
  lsp-core/src/main/java/com/groovylsp/infrastructure/parser/GroovyAstParser.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/parser/GroovyAstParserTest.java
Due: none

refactor: パーサー実装の改善提案を反映
  docs/parser-investigation.md
  lsp-core/src/main/java/com/groovylsp/infrastructure/parser/GroovyAstParser.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/parser/GroovyAstParserTest.java
Due: none

fix: ジェネリック配列作成の型安全性を改善
  lsp-core/src/test/java/com/groovylsp/infrastructure/parser/GroovyAstParserTest.java
Due: none

fix: tsconfig.jsonの設定を修正し、相対インポート拡張の書き換えを有効化
  vscode-extension/tsconfig.json
Due: biome-format

ci: コパイロットの指示に日本語使用を追加
  .github/copilot-instructions.md
Due: none

docs: テストシナリオの総テスト数と統合テスト数を修正し、診断機能のテスト内容を更新
  CLAUDE.md
  vscode-extension/src/test/SCENARIOS.md
Due: none

feat: ASTの基本構築機能を実装 (#11)
  lsp-core/src/main/java/com/groovylsp/application/usecase/DiagnosticUseCase.java
  lsp-core/src/main/java/com/groovylsp/domain/model/AstInfo.java
  lsp-core/src/main/java/com/groovylsp/domain/model/ClassInfo.java
  lsp-core/src/main/java/com/groovylsp/domain/model/FieldInfo.java
  lsp-core/src/main/java/com/groovylsp/domain/model/MethodInfo.java
  lsp-core/src/main/java/com/groovylsp/domain/service/AstAnalysisService.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/parser/GroovyAstParser.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/DiagnosticUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/domain/service/AstAnalysisServiceTest.java
  lsp-core/src/test/java/com/groovylsp/integration/BracketValidationIntegrationTest.java
  lsp-core/src/test/java/com/groovylsp/integration/DiagnosticIntegrationTest.java
Due: none

test: VSCode拡張機能にAST解析機能の統合テストを追加
  vscode-extension/src/test/SCENARIOS.md
  vscode-extension/src/test/integration/ast-analysis.spec.ts
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

ci: mochaのタイムアウトを60秒から120秒に延長
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

fix: PR #70のレビューコメントに対応
  lsp-core/src/main/java/com/groovylsp/domain/service/AstAnalysisService.java
  lsp-core/src/test/java/com/groovylsp/domain/service/AstAnalysisServiceTest.java
  vscode-extension/src/test/integration/ast-analysis.spec.ts
Due: biome-format, biome-lint

refactor: linterルールにnoNodejsModulesを追加し、テストシナリオ生成のメイン処理を非同期から同期に変更
  vscode-extension/biome.json
  vscode-extension/package-lock.json
  vscode-extension/package.json
  vscode-extension/scripts/generate-test-scenarios.ts
  vscode-extension/src/test/test-utils/lsp.ts
Due: biome-format, biome-lint

refactor: VSCode拡張機能のテスト構造をe2eテストに統一
  CLAUDE.md
  vscode-extension/README.md
  vscode-extension/scripts/generate-test-scenarios.ts
  vscode-extension/src/test/SCENARIOS.md
  vscode-extension/src/test/e2e/ast-analysis.spec.ts
  vscode-extension/src/test/e2e/bracket-matching.spec.ts
  vscode-extension/src/test/e2e/command.spec.ts
  vscode-extension/src/test/e2e/diagnostics.spec.ts
  vscode-extension/src/test/e2e/document-sync.test.ts
  vscode-extension/src/test/e2e/groovy-file-detection.test.ts
Due: biome-format, biome-lint

fix: 残りのドキュメントでintegrationをe2eに変更
  docs/project-structure.md
  vscode-extension/scripts/README.md
  vscode-extension/src/test/README.md
Due: none

fix: 不要なnull安全性関連のコードを削除
  CLAUDE.md
  lsp-core/src/main/java/com/groovylsp/domain/model/DiagnosticItem.java
  lsp-core/src/main/java/com/groovylsp/domain/model/DiagnosticResult.java
  lsp-core/src/main/java/com/groovylsp/domain/model/TextDocument.java
  lsp-core/src/main/java/com/groovylsp/domain/repository/package-info.java
  lsp-core/src/main/java/com/groovylsp/domain/service/AstAnalysisService.java
  lsp-core/src/main/java/com/groovylsp/domain/service/BracketValidationService.java
  lsp-core/src/main/java/com/groovylsp/domain/service/LineCountService.java
  lsp-core/src/main/java/com/groovylsp/domain/util/package-info.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/parser/GroovyAstParser.java
  lsp-core/src/test/java/com/groovylsp/domain/model/TextDocumentTest.java
  lsp-core/src/test/java/com/groovylsp/domain/service/LineCountServiceTest.java
Due: none

feat: DocumentSymbolProviderの実装を追加
  lsp-core/src/main/java/com/groovylsp/application/usecase/DocumentSymbolUseCase.java
  lsp-core/src/main/java/com/groovylsp/domain/model/Symbol.java
  lsp-core/src/main/java/com/groovylsp/domain/service/SymbolExtractionService.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/ast/GroovySymbolExtractionService.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/DocumentSymbolUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/ast/GroovySymbolExtractionServiceTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyTextDocumentServiceTest.java
  vscode-extension/src/test/suite/documentSymbol.test.ts
Due: biome-format, biome-lint

fix: VSCodeテストのタイムアウト時間を延長
  vscode-extension/src/test/runTest.ts
  vscode-extension/src/test/suite/index.ts
Due: biome-format, biome-lint

refactor: DocumentSymbol実装の改善
  lsp-core/src/main/java/com/groovylsp/application/usecase/DocumentSymbolUseCase.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/ast/GroovySymbolExtractionService.java
  lsp-core/src/test/java/com/groovylsp/infrastructure/ast/GroovySymbolExtractionServiceTest.java
Due: none

docs: テストシナリオの更新
  vscode-extension/src/test/SCENARIOS.md
Due: none

feat: ホバー機能の骨組みを実装 (#13)
  lsp-core/src/main/java/com/groovylsp/application/usecase/HoverUseCase.java
  lsp-core/src/main/java/com/groovylsp/infrastructure/di/ServerModule.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyLanguageServer.java
  lsp-core/src/main/java/com/groovylsp/presentation/server/GroovyTextDocumentService.java
  lsp-core/src/test/java/com/groovylsp/application/usecase/HoverUseCaseTest.java
  lsp-core/src/test/java/com/groovylsp/presentation/server/GroovyTextDocumentServiceTest.java
  vscode-extension/src/test/e2e/hover.spec.ts
Due: biome-format, biome-lint

Path conditions:
  biome-format: any of: *.{js,ts,jsx,tsx,json} and ^vscode\-extension/
  biome-lint: any of: *.{js,ts,jsx,tsx} and ^vscode\-extension/
  generate-scenarios: any of: {src/test/**/*.{test,spec}.ts,scripts/generate-test-scenarios.ts} and ^vscode\-extension/
